.h-row4-main ul {
    margin-right: -30px;
    clear: both;
    height: 315px;
}
.h-row4-main li {
    width: 250px;
    height: 315px;
    margin-right: 30px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    box-shadow: 0 3px 5px 0 #e6e6e6;
    text-align: center;
    padding: 0 15px;
    float: left;
    cursor: pointer;
}
.h-row4-hd {
    height: 75px;
    line-height: 75px;
    font-size: 18px;
    color: #272727;
    border-bottom: 1px solid #eee;
    position: relative;
}
.h-row4-ft {
    margin-top: 40px;
    width: 125px;
    height: 33px;
    line-height: 33px;
    display: inline-block;
    font-size: 14px;
    color: #272727;
    border-top: 1px solid #272727;
    border-bottom: 1px solid #272727;
}
.h-row4-hd:after {
    position: absolute;
    left: 50%;
    margin-left: -17.5px;
    bottom: -2px;
    width: 35px;
    height: 3px;
    background: #fc4349;
    content: "";
}
.h-row4-bd .msg {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #fc4349;
}
.h-row4-bd .info {
    height: 80px;
    background-color: #fafafa;
    box-shadow: 0 3px 6px 2px #e6e6e6;
    border-radius: 5px;
    color: #999999;
}
.h-row4-bd .info dd {
    width: 33.33%;
    float: left;
    font-size: 14px;
}
.h-row4-bd .info .tit {
    padding-top: 18px;
    line-height: 1;
}
.h-row4-bd .info .num {
    font-size: 15px;
    /*font-weight: 700;*/
    color: #272727;
    padding-top: 7px;
}
.h-row4-main li:hover {
    box-shadow: 0 5px 10px 6px #e6e6e6;
}
.h-row4-main li:hover .h-row4-hd {
    color: #fc4349;

}
.h-row4-main li:hover .h-row4-bd .info {
    background-color: #fc4349;
    color: #fff;
}
.h-row4-main li:hover .h-row4-ft {
    background-color: #fc4349;
    border-color: #fc4349;
    color: #fff;
}
.h-row4-main li:hover .h-row4-bd .num {
    color: #fff;
}